# Clase 7

#### **Contenido**
- Revisar dudas de ejercicios para prácticar de la clase anterior
- Módulos, repaso y módulos desde carpetas
- Ejercicio 149
- Librerias externas

#### Ejercicios para practicar
- Ejercicio 152
- Ejercicio 153
  
#### Temas de estudio
- Cuales son las principales librerias que se usan para visualización?
- Qué es un EDA?

#### Exercise 149: Display the Head of a File
Unix-based operating systems usually include a tool named head. It displays the first 10 lines of a file whose name is provided as a command line argument. Write a Python program that provides the same behaviour. Display an appropriate error message if the file requested by the user does not exist, or if the command line
argument is omitted.

Plano, Función y Archivo

In [16]:
# head file_path 10
ruta = input("Cual es la ruta del archivo: ")
try:
    f = open(ruta, "r")
    # line = f.readline()
    lines = []
    n = 10
    contador = 1
    while contador <= n:
        # print(contador)
        line = f.readline()
        line = line.replace("\n", "")
        lines.append(line)
        contador += 1 # contador = contador + 1
    print(lines)
    f.close()
except FileNotFoundError:
    print("El archivo no existe")
# print(type(lines))
# print("Acabó el ciclo")
# file.readlines() devuelve todo el archivo en una lista (1)
# file.readline() devuelve la "próxima" línea (2)
# Otro (1)

['Name, Age, City', 'Alice, 25, New York', 'Bob, 30, Los Angeles', 'Charlie, 28, Chicago', 'David, 35, San Francisco', 'Eve, 22, Seattle', 'Frank, 40, Miami', 'Grace, 27, Denver', 'Hannah, 29, Boston', 'Isaac, 33, Austin']

In [8]:
print("Hola \n mundo")

Hola
 mundo

In [18]:
# Quiero juntar la lista lines, y que el separador sea \n
# Si el separador es \n, se van a separar los elementos por salto de linea
print("\n".join(lines))

Name, Age, City
Alice, 25, New York
Bob, 30, Los Angeles
Charlie, 28, Chicago
David, 35, San Francisco
Eve, 22, Seattle
Frank, 40, Miami
Grace, 27, Denver
Hannah, 29, Boston
Isaac, 33, Austin

In [31]:
def top_10(ruta, n):
    """Muestra las primeras diez lineas de un archivo""" # Docstring
    try:
        f = open(ruta, "r")
        lines = []
        contador = 1
        while contador <= n:
            line = f.readline()
            line = line.replace("\n", "")
            lines.append(line)
            contador += 1
        f.close()
        print("\n".join(lines))
        # print(lines)
    except FileNotFoundError:
        print("El archivo no existe")

In [32]:
top_10("people.txt", 5)

Name, Age, City
Alice, 25, New York
Bob, 30, Los Angeles
Charlie, 28, Chicago
David, 35, San Francisco

In [33]:
top_10(5, "products.txt")

TypeError: '<=' not supported between instances of 'int' and 'str'

In [24]:
top_10("p")

El archivo no existe

UnboundLocalError: cannot access local variable 'lines' where it is not associated with a value


#### Exercise 152: Number the Lines in a File
Create a program that reads lines from a file, adds line numbers to them, and then stores the numbered lines into a new file. The name of the input file will be read from the user, as will the name of the new file that your program will create. Each line in the output file should begin with the line number, followed by a colon and a space,
followed by the line from the input file.

In [34]:
import pandas as pd

In [37]:
data = pd.read_csv("people.txt", sep=",")

In [38]:
data

        Name   Age              City
0      Alice    25          New York
1        Bob    30       Los Angeles
2    Charlie    28           Chicago
3      David    35     San Francisco
4        Eve    22           Seattle
5      Frank    40             Miami
6      Grace    27            Denver
7     Hannah    29            Boston
8      Isaac    33            Austin
9       Jane    26         San Diego
10      Karl    32           Phoenix
11     Linda    24            Dallas
12   Michael    31           Houston
13      Nina    23           Atlanta
14    Oliver    36      Philadelphia
15  Patricia    37   Washington D.C.
16    Quincy    28       New Orleans
17    Rachel    27         Nashville
18       Sam    31            Denver
19      Tina    30           Seattle
20   Ulysses    34         San Diego
21  Victoria    29       Los Angeles
22   William    38           Chicago
23    Xander    26          New York
24   Yasmine    25             Miami
25      Zane    24            Austin