# Clase 1
- I/O: Entrada y Salida Básica
- Tipos de Datos:
- int
- float
- String
    - 'Simple'
    - "Doble"
    - """Triple"""
- bool
- Variables
- Tipado dinámico
- Comentarios
- Aritmética y Operadores
- Contenedores:
    - Lista
    - Tupla
    - Diccionarios
    - Conjuntos
- Valores de Verdad y Comparaciones
- Palabras reservadas

## Entrada y Salida (Básica)
- variables = input("Mensaje Indicatorio para el usuario")
- print(variables, "Esto es un texto")

In [3]:
nombre = input("Cual es mi nombre: ")
print(nombre)

Cual es mi nombre: 13
13

Tipos de datos (los 4 principales)

In [16]:
a = 5
b = 12.1
print("a:", type(a))
print("b: ", type(b))
c = a + b
print("Este es el valor de c:", c)
print("c:", type(c))

a: <class 'int'>
b:  <class 'float'>
Este es el valor de c: 17.1
c: <class 'float'>

Variables

In [5]:
a = 5
print(a)
a = "Alejandro"
print(a)

5
Alejandro

In [7]:
a = 5
print(a)
print(type(a))
a = "5"
print(a)
print(type(a))

5
<class 'int'>
5
<class 'str'>

In [9]:
print(5 + int("5"))

10

In [11]:
a = "5"
b = '5'
c = """5"""

"""
Este es un codigo que no se va a correr





Hola mundo
"""
# Este tampoco
# yesta
# y esta
# y esta
print(5)  # Esta linea imprime un 5

5

Tipado Dinamico

In [20]:
a= 5
a = "5"
a = 13.1
print(a)

Comentarios

In [1]:
# Esto es un comentario
print(3) # esto tambien
"""
Esto es un bloque de comentarios
"""
print(2+3)

3
5

Operadores

https://runestone.academy/ns/books/published/fopp/Conditionals/PrecedenceofOperators.html

In [27]:
a = 5
b = "5"
# a = b
c = 6
print(a)
print(type(a))
print(a == b)
print(a > c)
print(a < c)
print(5.5 >= 6)
print(5.5 <= 6)

5
<class 'int'>
False
False
True
False
True

In [3]:
print("suma ", 5 + 5)
print("resta ", 2 - 3)
print("multiplicación", 1 * 4)
print("Potenciacion", 4 ** 2)
print("Residuo", 5 / 2)
print("Division entera", 5 // 2)
print("Residuo", 5 % 2)

suma  10
resta  -1
multiplicación 4
Potenciacion 16
Residuo 2.5
Division entera 2
Residuo 1

In [40]:
print(int(not True))
print(int(True))
print(True or False)
print(True and False)

a = True
print( a == 1)
print(a == 2)

0
1
True
False
True
False

In [41]:
(5 + 5) * 5

50

In [42]:
5 + 5 * 5

30

In [43]:
5 ** 2 + 2 / 5 * 4 // 2

25.0

In [44]:
((((5+2)** 2) / 5) //2 ) * 4

16.0

Contenedores

Listas, Diccionarios, Tuplas, Conjuntos


List, Dictionary, Tuple, Set

In [ ]:
lista = [5, 6, 7]
dictionario = {"a": 5, "b": 6, "c": 7}
tupla = (5, 6 ,7)
conjunto = {5, 6 ,7}

In [46]:
lista1 = [5, 6, 6, 7]
print(lista1)
print(set(lista1))

[5, 6, 6, 7]
{5, 6, 7}

In [47]:
lista2 = [5, 6, 7]

In [48]:
print(lista2[1])

6

In [49]:
print(lista2[0])

5

In [50]:
print(lista2[2])

7

In [52]:
print(len(lista2))

3

In [74]:
lista3 = [1, 2, 3, 4, 5, 6, 7, 8, 9 ,10]
print("La longitud de la lista 3 es:", len(lista3))
print("El primer elemento de la lista 3 es:", lista3[0])
print("Yo quiero saber el elemento del 4 a 8:", lista3[4:8])
numero_de_entrada = input("Escoja un numero del 0 al 9")
numero_de_entrada_2 = input("Escoja un segundo numero del 0 al 9")
# lista["6"]
# lista3["6.0"]
print("Este es el numero que escogiste: ", lista3[
    int(numero_de_entrada):
    int(numero_de_entrada_2)
    ])
#print(list)

La longitud de la lista 3 es: 10
El primer elemento de la lista 3 es: 1
Yo quiero saber el elemento del 4 a 8: [5, 6, 7, 8]
Escoja un numero del 0 al 96
Escoja un segundo numero del 0 al 98
Este es el numero que escogiste:  [7, 8]

In [62]:
maria_camila = {"edad": 18, "direccion": "Calle 0", "carrera": "civil"}

In [63]:
print(maria_camila)

{'edad': 18, 'direccion': 'Calle 0', 'carrera': 'civil'}

In [64]:
print(maria_camila["edad"])

18

In [66]:
print(maria_camila["direccion"])

Calle 0

In [75]:
maria_camila['zapato'] = "nike"

In [76]:
print(maria_camila)

{'edad': 18, 'direccion': 'Calle 0', 'carrera': 'civil', 'zapato': 'nike'}

In [77]:
print(len(maria_camila.keys()))

4

In [78]:
print(len(maria_camila.values()))

4

In [79]:
list(maria_camila.items())[0]

('edad', 18)

Comparaciones

In [80]:
maria_camila[10] = "edad_2"

In [82]:
maria_camila[10] = "edad_3"
print(maria_camila)

{'edad': 18, 'direccion': 'Calle 0', 'carrera': 'civil', 'zapato': 'nike', 10: 'edad_3'}

In [83]:
del maria_camila[10]
print(maria_camila)

{'edad': 18, 'direccion': 'Calle 0', 'carrera': 'civil', 'zapato': 'nike'}

In [87]:
maria_camila.update({"zapato": 10})

In [88]:
print(maria_camila)

{'edad': 18, 'direccion': 'Calle 0', 'carrera': 'civil', 'zapato': 10}

Palabras reservadas

In [89]:
llaves = ['edad', 'direccion', 'carrera', 'zapato']
valores = ['18', 'calle 0', 'civil', 'nike']
print(llaves)
print(valores)

['edad', 'direccion', 'carrera', 'zapato']
['18', 'calle 0', 'civil', 'nike']

In [90]:
clase_1710 = {}

In [95]:
llave = input("Ingresa el valor de una llave")
valor = input("Ingresa el valor de la llave asignadad")
clase_1710[llave] = valor

Ingresa el valor de una llavehorario
Ingresa el valor de la llave asignadad6-10

In [96]:
print(clase_1710)

{'horario': '6-10', 'estudiantes': '10', 'salon': '18-409'}

In [ ]:
del
list
int
float
str
print
input

In [97]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

Exercise 2 - The Pyhton WorkBook

In [98]:
nombre = input("Cual es tu nombre: ")
print("Hola ", nombre)

Cual es tu nombre: Maria Camila
Hola  Maria Camila

In [103]:
length = input("Escriba la longitud del cuarto")
width = input("Escriba el ancho del cuarto")
units = input("Escriba las unidades de las medidas anteriores")
area = float(length) * float(width)
print("El area de su cuarto es ", area, units, "^2")
resultado = "El area de su cuarto es" + str(area) + units + "^2"
print(resultado)
resultado1 = f"El area de su cuarto es {area}{units}^2"
print(resultado1)
resultado2 = f"El area de su cuarto es (area)(units)^2"
print(resultado2)
resultado3 = "El area de su cuarto es {area}{units}^2"
print(resultado3)

Escriba la longitud del cuarto15
Escriba el ancho del cuarto3.0
Escriba las unidades de las medidas anterioresm
El area de su cuarto es  45.0 m ^2
El area de su cuarto es45.0m^2
El area de su cuarto es 45.0m^2
El area de su cuarto es (area)(units)^2
El area de su cuarto es {area}{units}^2

In [109]:
"""
for
while
"""
n = input("Ingresa un numero")
n = int(n)
suma = ((n)*(n + 1)) / 2


suma2 = 0
for i in range(n):
  suma2 = suma2 + (i + 1)

print(f"El valor con la formula es {suma}")
print(f"El valor con el for es {suma2}")

Ingresa un numero5
El valor con la formula es 15.0
El valor con el for es 15

In [114]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [117]:
n = "5"
for i in [1, 2, 3, 4, 5, 6, 7, 8]:
  print(int(n)/i)

5.0
2.5
1.6666666666666667
1.25
1.0
0.8333333333333334
0.7142857142857143
0.625